@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	background: #0F121D;
}

@layer base {
	* {
		user-select: none;
	}
}

* [data-radix-popper-content-wrapper] {
	z-index: 777 !important;
}